{% extends "base.html" %}

{% block content %}



    <h1>Signup</h1>
    {%if form|length>=0%}
        <form  method="POST">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" value="{{ username_stay }}"/> {{error_username}}<br>
            
            <label for="user_password">Password</label>
            <input id="user_password" type="password" name="user_pwd"/>{{error_user_pwd}}<br>
            <label id="vrfy_password">Verify Password</label>
            <input id="vrfy_password" type="password" name="vrfy_pwd"/>{{error_vrfy_pwd}}<br>
            <label for="user_email">Email(optional)</label>
            <input id="user_email" type="text" name="email" value= "{{ email_stay }}"/>{{error_email}}<br>
            <input type= "submit" value="Submit"/>
        </form>
            {% endif %}
            {% endblock %}
        <hr />

            {%if form|length==0%}
            <p>Please enter a valid username</p>
            {% else %}
                {% for input in form %}
                {% endfor %}

            {% endif %}

  